<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="test_bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/unit</directory>
            <exclude>tests/unit/components/CredentialManagerTest.php</exclude>
            <exclude>tests/unit/components/CredentialManagerPropertyTest.php</exclude>
        </testsuite>
    </testsuites>
    <php>
        <const name="YII_DEBUG" value="true"/>
        <const name="YII_ENV" value="test"/>
    </php>
</phpunit>
